/*.freebirdFormviewerViewFormContent {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    border-radius: 0%;
    margin: 0px;
}

.freebirdFormviewerViewFormCard {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    border-radius: 0%;
    margin: 0px;
}

.freebirdFormviewerViewFooterFooterContainer {
    display: none !important;
    border-radius: 0%;
    margin: 0px;
}

.freebirdCustomFont {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

.freebirdFormviewerViewFormContentWrapper {
    display: none;
}

.freebirdFormviewerViewHeaderThemeStripe {
    border-radius: 0%;
    margin: 0px;
}

.freebirdFormviewerViewNavigationPasswordWarning {
    display: none;
}

.freebirdFormviewerViewItemsItemItem {
    border-radius: 0%;
    margin: 0px;
}

.freebirdFormviewerViewItemsTextTextItem {
        border-radius: 0%;
    margin: 0px;
}

.freebirdFormviewerViewHeaderHeader {
    border-radius: 0%;
    margin: 0px;
}
.exportHeader {
    border-radius: 0%;
    margin: 0px;
}

.exportFormCard {
    border-radius: 0%;
    margin: 0px;
}
.freebirdSolidBackground {
    border-radius: 0%;
    margin: 0px;
    background-color: inherit;
}
.freebirdFormviewerViewCenteredContent {
    max-width: inherit;
    width: 100%;
}
*/